* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 70%;
  margin: auto;
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .header-container .menu {
  list-style-type: none;
}
header .header-container .menu li {
  display: inline-block;
  padding-right: 30px;
}
header .header-container .menu li a {
  text-decoration: none;
  color: #566271;
  padding-bottom: 20px;
}
header .header-container .menu li a:hover {
  color: #0c7cec;
  border-bottom: 3px solid #0c7cec;
}
header .header-container .search-bar-container input {
  border: none;
  outline: none;
  border-bottom: 3px solid #0c7cec;
}
header .jumbotron-container {
  height: 500px;
  background-image: url("../img/jumbotron.jpg");
}

.comics-section {
  color: white;
  background-color: #1c1c1c;
}
.comics-section .comics-section-title h1 {
  background-color: #0c7cec;
  max-width: 200px;
  padding: 10px;
  position: relative;
  top: -28px;
}
.comics-section .comics-list-container {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.comics-section .comics-list-container .comic {
  padding: 10px;
  width: calc( 100% / 6 );
}
.comics-section .comics-list-container .comic-title p {
  font-weight: lighter;
}
.comics-section .button {
  text-align: center;
  padding-bottom: 10px;
}
.comics-section .button button {
  background-color: #0c7cec;
  color: white;
  border: none;
  padding: 8px 40px;
}

.utilities {
  background-color: #0c7cec;
  padding: 40px 0;
}
.utilities-container {
  display: flex;
  justify-content: space-between;
}
.utilities-container .utilitie {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.utilities-container .utilitie img {
  height: 70px;
  width: auto;
}
.utilities-container .utilitie a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

footer {
  background-color: grey;
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: small;
}
footer ::after {
  content: "";
  display: table;
  clear: both;
}
footer .dc-bg {
  background-image: url("../img/dc-logo-bg.png");
  background-position: 85% 26%;
  background-repeat: no-repeat;
}
footer .footer-list-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 70%;
}
footer .footer-list-container h2 {
  color: white;
}
footer .footer-list-container .sx-list {
  float: left;
}
footer .footer-list-container .sx-list ul {
  list-style-type: none;
}
footer .footer-list-container .sx-list ul li a {
  text-decoration: none;
  color: #566271;
}
footer .footer-list-container .sx-list ul .sx-list-bottom {
  padding-top: 15px;
}
footer .footer-list-container .center-list, footer .footer-list-container .dx-list {
  float: left;
  position: relative;
  top: -30px;
  padding-left: 30px;
}
footer .footer-list-container .center-list ul, footer .footer-list-container .dx-list ul {
  list-style-type: none;
}
footer .footer-list-container .center-list ul li a, footer .footer-list-container .dx-list ul li a {
  text-decoration: none;
  color: #566271;
}
footer .copyright-container {
  padding-bottom: 15px;
}
footer .copyright-container p {
  color: #566271;
}
footer .copyright-container p a {
  display: inline-block;
  text-decoration: none;
  color: #0c7cec;
}
footer .footer-bot {
  padding: 20px 0;
  background-color: #303030;
}
footer .footer-bot .sign-up {
  float: left;
}
footer .footer-bot .sign-up a {
  text-decoration: none;
  background: #303030;
  border-color: #0c7cec;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 45px;
  margin-top: 30px;
  text-align: center;
  padding: 0 10px;
}
footer .footer-bot .socials {
  float: right;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
footer .footer-bot .socials p {
  color: #0c7cec;
  font-size: 20px;
}
footer .footer-bot .socials ul {
  list-style-type: none;
}
footer .footer-bot .socials ul li {
  display: inline-block;
  padding-left: 20px;
}