* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 70%;
  margin: auto;
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .header-container .menu {
  list-style-type: none;
}
header .header-container .menu li {
  display: inline-block;
  padding-right: 30px;
}
header .header-container .menu li a {
  text-decoration: none;
  color: #566271;
  padding-bottom: 20px;
}
header .header-container .menu li a:hover {
  color: #0c7cec;
  border-bottom: 3px solid #0c7cec;
}
header .header-container .search-bar-container input {
  border: none;
  outline: none;
  border-bottom: 3px solid #0c7cec;
}
header .jumbotron-container {
  height: 500px;
  background-image: url("../img/jumbotron.jpg");
}

.comics-section {
  color: white;
  background-color: #1c1c1c;
}
.comics-section .comics-section-title h1 {
  background-color: #0c7cec;
  max-width: 200px;
  padding: 10px;
  position: relative;
  top: -28px;
}
.comics-section .comics-list-container {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.comics-section .comics-list-container .comic {
  padding: 10px;
  width: calc( 100% / 6 );
}
.comics-section .comics-list-container .comic-title p {
  font-weight: lighter;
}
.comics-section .button {
  text-align: center;
  padding-bottom: 10px;
}
.comics-section .button button {
  background-color: #0c7cec;
  color: white;
  border: none;
  padding: 8px 40px;
}