.comics-section {
    color: $txt_primary_color;
    background-color: #1c1c1c;

    .comics-section-title {
        
        h1 {
            background-color: $brand_main;
            max-width: 200px;
            padding: 10px;
            position: relative;
            top: -28px;
        }
    }

    .comics-list-container {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        
        .comic {
            padding: 10px;
            width: calc( 100% / 6 );

            &-title p {
                font-weight: lighter;
            }

        }
    }

    .button {
        text-align: center;
        padding-bottom: 10px;

        button {
            background-color: $brand_main;
            color: white;
            border: none;
            padding: 8px 40px;
        }
    }
}

.utilities {
    background-color: $brand_main;
    padding: 40px 0;

    &-container {
       display: flex;
       justify-content: space-between;

       .utilitie {
           display: flex;
           justify-content: space-between;
           align-items: center;

           img {
            height: 70px;
            width: auto;
           }

           a {
               text-decoration: none;
               color: white;
               padding-left: 10px;
           }
       }
    }
}


// DETAILS SECTION

.comics-details-section {
    
    .blue-banner {
        padding: 45px;
        background-color: $brand_main;
    }

    .comic-cover {
        position: absolute;
        top: 38%;
        left: 22%;

        img {
            height: 291px;
            width: 192px;
        }
    }

    .comics-details-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;

        .details-info-container {
            //test
            padding-right: 115px;

            .details-info-title {

                h1 {
                    font-size: xx-large;
                    color: #003f5e;
                }
                
            }

            .availability-container {
                display: flex;
                justify-content: space-between;
                background-color: #55ba59;
                border-bottom: 1px solid black;

                .first-column {
                    color: #b0fd9c;
                    
                    p {
                        padding: 15px 20px;
                    }

                    span {
                        color: white;
                    }
                }

                .second-column {
                    color: #b0fd9c;
                    padding-left: 245px;

                    p {
                        padding: 15px 2px;
                    }
                }

                .third-column {
                    color: white;
                    border-left: 1px solid black;

                    p {
                        padding: 15px 11px;
                    }
                }
            }

            .description {

                p {
                    padding: 10px 0;
                    color: grey;
                }
            }
        }

        .adv-container {

            span {
                text-align: end;
                color: $txt_secondary_color;
            }

            img {
                height: 300px;
                width: auto;
            }
        }
    }
}


//SPECS SECTION 

.specs-section {
   background-color: #f6f6f6;
   padding: 50px 0;

   .talent-specs-container {
       display: flex;
       //justify-content: space-between;
       color: #003f5e;

       .talent {
           //width: 50%;
           padding-right: 50px;

           span {
               color: #00a9db;
           }
       }

       .content {
           display: flex;
           padding: 10px 0;
           border-top: 1px solid lightgray;

           span {
               //margin-left: 120px;
           }

           a {
               text-decoration: none;
               color: #00a9db;
           }

           p {
             padding-right: 30px;
           }
       }

       h3 {
           padding-bottom: 20px;
       }
   }
}