.comics-section {
    color: $txt_primary_color;
    background-color: #1c1c1c;

    .comics-section-title {
        
        h1 {
            background-color: $brand_main;
            max-width: 200px;
            padding: 10px;
            position: relative;
            top: -28px;
        }
    }

    .comics-list-container {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        
        .comic {
            padding: 10px;
            width: calc( 100% / 6 );

            &-title p {
                font-weight: lighter;
            }

        }
    }

    .button {
        text-align: center;
        padding-bottom: 10px;

        button {
            background-color: $brand_main;
            color: white;
            border: none;
            padding: 8px 40px;
        }
    }
}

.utilities {
    background-color: $brand_main;
    padding: 40px 0;

    &-container {
       display: flex;
       justify-content: space-between;

       .utilitie {
           display: flex;
           justify-content: space-between;
           align-items: center;

           img {
            height: 70px;
            width: auto;
           }

           a {
               text-decoration: none;
               color: white;
               padding-left: 10px;
           }
       }
    }
}